[user]
    name = Reed Kraft-Murphy
    email = reed@reedmurphy.net

[color]
    ui = auto

[core]
    quotepath = false
	excludesfile = /Users/reed.murphy/.gitignore_global

[merge]
    defaultToUpstream = true
[push]
    default = simple
